<%= render partial: "users/user" , locals: { user: @user } %>
<div class="text-center">
  <%= button_to "Share a Post", new_user_post_path(@user.id), method: :get, class: "btn btn-primary mt-3 text-center" %>
</div>
<div class="container">
  <% @posts.each_with_index do |post, index| %>
  <%= link_to user_post_path(@user.id, post.id), class:"text-dark text-decoration-none"  do %>
      <%= render partial: "post" , locals: { post: post, index: index } %>
  <% end %> 
        <ul class="border">
          <% post.comments.includes([:author]).each do |comment| %>
            <li class="list-unstyled">
              <%= render partial: "comments/comment" , locals: { comment: comment } %>
            </li>
            <% end %>
        </ul>
        <% end %>

</div>